<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    @*<div class="row">
        <div class="col-lg-6">
            <h1>This is text 1</h1>
        </div> 
        <div class="col-lg-6">
            <h1>This is text 2</h1>
        </div>
    </div>*@

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div classs="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Views/Home/Index.cshtml">Website</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/Views/Home/Index.cshtml">Home</a></li>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
                <li><a href="https://www.google.com/">Google</a></li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
